*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

div.container{
    width: 100%;
    height: 800px;
    text-align: center;
}

h1{
    width: 90%;
    margin: 0 auto;
}