*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

div.container{
    width: 100%;
    height: 800px;
    text-align: center;
}

h1{
    width: 90%;
    margin: 0 auto;
}

#fizzBuzzList li{
    padding: 5px;
}

.fizz{
background-color: blue;
text-align: left;
color: white;
}

.fizzbuzz{
background-color: red;
text-align: right;
color: black;
}

.buzz{
background-color: aquamarine;
color: black;
}

.number{
background-color: chartreuse;
color: black;
}